<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="container-main" style="
            border: 1px solid black;
            width: fit-content;
            padding: 10px;
            border-radius: 10px;
            background-color: rgb(167, 167, 167);
            text-align: center;
    ">
        <div>
            <h1>NoteFlow</h1>
        </div>

        <div class="heading" style="text-align: center;
            padding: 0 0 10px 0;
            font-size: 1.5em;">Please Verify Your Account </div>

        <div class="email"  style="text-align: center;
            padding: 0 0 10px 0;
            font-size: 1.5em;
            text-decoration: none;">jainishu2309@gmail.com</div>

        
        <div class="matter-container" style="
            border-radius: 10px;
            padding: 20px;
            background-color: rgb(110, 110, 110);">
            <div class="matter" style="padding: 10px;">This is the verification code :</div>
            <div class="code" style="text-align: center;
            font-size: 2em;
            color: rgb(255,255,255);"><b>{CODE}</b></div>
            <div class="matter" style="padding: 10px;">This verification code is valid for only 10 minutes.</div>
            <div class="matter" style="padding: 10px;">This code can only be used once.</div>
            <div class="matter" style="padding: 10px;"><b>Please do not share this code with anyone</b></div>
        </div>
        <div class="scam" style="padding: 10px;">
            <div>This verification code has been sent as it was requested by NoteFlow account.</div>
            <div>If this wasn't you kindly ignore this email</div>
        </div>
    </div> 
</body>
</html>